    <main class="main-content cont" data-style="display: flex;">
      <section class="blog">
        <h3 class="default-title blue">Blog</h3>
        <figure class="blog-figure">
          <%= image_tag "blog1.png", class: "blog-figure-img", alt: "Blog" %>
          <figcaption class="blog-figure-content">
            <h4 class="blog-figure-content-title">NC Catch Receives $10,000 from PCS Challenge</h4>
            <p class="blog-figure-content-text">PotashCorp/PCS Phosphate and NC Catch today announced the donation of $10,000 from PCS in support of the nonprofit’s work to strengthen markets and public awareness for local North Carolina wild-caught seafood. <a class="blog-figure-content-link" href="#"> [ READ MORE ]</a></p>
          </figcaption>
        </figure>
        <figure class="blog-figure">
          <%= image_tag "blog2.png", class: "blog-figure-img", alt: "Blog" %>
          <figcaption class="blog-figure-content">
            <h4 class="blog-figure-content-title">State Farmers Market to host Seafood Day Aug. 26</h4>
            <p class="blog-figure-content-text">Shoppers can reel in some fresh N.C. seafood at the State Farmers Market during Seafood Day on Friday, Aug. 26, from 11 a.m. to 1 p.m. <a class="blog-figure-content-link" href="#">[ READ MORE ]</a></p>
          </figcaption>
        </figure>
        <figure class="blog-figure">
          <%= image_tag "blog3.png", class: "blog-figure-img", alt: "Blog" %>
          <figcaption class="blog-figure-content">
            <h4 class="blog-figure-content-title">Seafood Throwdown Set For 2 PM Saturday, September 17, 2016</h4>
            <p class="blog-figure-content-text">The freshness and flavor of our seafood inspires chefs and home cooks alike. During Day at the Docks there are several small group cooking demos where you can get close and talk to the cooks. Two brilliant chefs appear on the stage for the Seafood Throwdown at 2 PM on Saturday, Sept. 17, 2016. <a class="blog-figure-content-link" href="#"> [ READ MORE ] </a></p>
          </figcaption>
        </figure>
        <footer class="main-content-footer">
          <a href="#">[View more posts]</a>
        </footer>
      </section>
      <section class="recipes">
        <h3 class="default-title">Recipes</h3>
        <figure class="recipes-figure">
          <%= image_tag "recipe2.png", class: "recipes-figure-img",  alt: "recipe" %>
          <figcaption>
            <h4 class="recipes-figure-title">Seared Rockfish with Herb Butter</h4>
            <p class="recipes-figure-text">Pat fish dry. Water is the enemy here! Slice fillet into four pieces diagonally. Score the skin side. Season with salt, pepper and a very light dusting of Wondra flour on both sides. fish for 20-30 seconds to prevent curling. <a href="#" class="recipes-figure-link">[ READ MORE ]</a></p>
          </figcaption>
        </figure>
        <figure class="recipes-figure">
          <%= image_tag "recipe1.png", class: "recipes-figure-img", alt: "recipe" %>
          <figcaption>
            <h4 class="recipes-figure-title">Ina Garten’s Make-Ahead Coquilles St.-Jacques</h4>
            <p class="recipes-figure-text">Here is an easy version of coquilles St.-Jacques, the classic French preparation of scallops in a creamy sauce, under a crust of bread crumbs and cheese. It comes from Ina Garten, the celebrated... <a href="#" class="recipes-figure-link">[ READ MORE ]</a></p>
          </figcaption>
        </figure>
        <footer class="main-content-footer">
          <a href="#">[View more recipes]</a>
        </footer>
      </section>

      <%= render :partial => "events" %>

    </main>
