<main class="main-content cont" data-style="display: flex;">
  <section class="blog">
    <h3 class="default-title blue">Blog</h3>
    <% if @blogs_masseges.any? %>
      <% @blogs_masseges.each do |msg| %>
        <figure class="blog-figure">
          <% unless msg.image.blank? %>
            <%= image_tag msg.image.url, class: "blog-figure-img", alt: (msg.image.url || "Blog") %>
          <% end %>
          <figcaption class="blog-figure-content">
            <h4 class="blog-figure-content-title"><%= msg.title %></h4>
            <p class="blog-figure-content-text">
              <%= truncate( msg.body, length: 150, escape: false){ link_to "[ READ MORE ]", blogs_blog_path(msg),class: "recipes-figure-link" }%>
            </p>
          </figcaption>
        </figure>
      <% end %>
    <% end %>
    <footer class="main-content-footer">
      <%= link_to "[View more posts]", blogs_blogs_path %>
    </footer>
  </section>

  <section class="recipes">
    <h3 class="default-title">Recipes</h3>
    <figure class="recipes-figure">
      <%= image_tag "recipe2.png", class: "recipes-figure-img",  alt: "recipe" %>
      <figcaption>
        <h4 class="recipes-figure-title">Seared Rockfish with Herb Butter</h4>
        <p class="recipes-figure-text">Pat fish dry. Water is the enemy here! Slice fillet into four pieces diagonally. Score the skin side. Season with salt, pepper and a very light dusting of Wondra flour on both sides. fish for 20-30 seconds to prevent curling. <a href="#" class="recipes-figure-link">[ READ MORE ]</a></p>
      </figcaption>
    </figure>
    <figure class="recipes-figure">
      <%= image_tag "recipe1.png", class: "recipes-figure-img", alt: "recipe" %>
      <figcaption>
        <h4 class="recipes-figure-title">Ina Garten’s Make-Ahead Coquilles St.-Jacques</h4>
        <p class="recipes-figure-text">Here is an easy version of coquilles St.-Jacques, the classic French preparation of scallops in a creamy sauce, under a crust of bread crumbs and cheese. It comes from Ina Garten, the celebrated... <a href="#" class="recipes-figure-link">[ READ MORE ]</a></p>
      </figcaption>
    </figure>
    <footer class="main-content-footer">
      <a href="#">[View more recipes]</a>
    </footer>
  </section>

  <%= render :partial => "events" %>

</main>
