  <div class="main-content cont">
    <section class="main-content-main">
      <div class="main-content-events">
        <div class="title events-title">
          <h4 class="title-text">Upcoming Events</h4>
          <a class="title-link" href="#">View Event Calendar</a>
        </div>
        <div class="main-content-event">
          <%= image_tag "event-thumbnail.png", class: "main-content-event-image", alt: "Thumbnail" %>
            <div class="main-content-event-block">
            <div class="main-content-event-title">
              Seafood Throwdown Set For 2 PM Saturday, September 17, 2016
            </div>
            <div class="main-content-event-text">
              The freshness and flavor of our seafood inspires chefs and home cooks alike. During Day at the Docks there are several small...
              <a href="" class="main-content-event-readmore">READ MORE</a>
            </div>
          </div>
        </div>
        <div class="main-content-event">
          <%= image_tag "thumbnail-2.png", class: "main-content-event-image", alt: "Thumbnail" %>
          <div class="main-content-event-block">
            <div class="main-content-event-title">
              Piedmont brings the Lowcountry & Bayou together for a celebration of NC Shrimp
            </div>
            <div class="main-content-event-text">
              On August 24th, Piedmont’s new Executive Chef John May – formerly of Chef & The Farmer – welcomes Chef...
              <a href="" class="main-content-event-readmore">READ MORE</a>
            </div>
          </div>
        </div>
        <div class="main-content-event">
          <%= image_tag "thumbnail-3.png", class: "main-content-event-image", alt: "Thumbnail" %>
          <div class="main-content-event-block">
            <div class="main-content-event-title">
              Seafood Throwdown Set For 2 PM Saturday, September 17, 2016
            </div>
            <div class="main-content-event-text">
              The freshness and flavor of our seafood inspires chefs and home cooks alike. During Day at the Docks there are several small...
              <a href="" class="main-content-event-readmore">READ MORE</a>
            </div>
          </div>
        </div>
      </div>
      <div class="main-content-media">
        <div class="title media-title">
          <h4 class="title-text">Featured Media</h4>
          <%=  link_to "View Media Gallery", refinery.videos_videos_path, class: "title-link" %>
        </div>

        <% unless @video.blank? %><% unless @video.link.blank? %>
          <iframe class="main-content-media-video" src="https://www.youtube.com/embed/<%= video_link(@video) %>" frameborder="0" allowfullscreen></iframe>
        <% end %><% end %>
      </div>
      <div class="main-content-news">
        <div class="title news-title">
          <h4 class="title-text">Featured Media</h4>
          <%= link_to "View All News & Articles", refinery.articles_articles_path, class:"title-link" %>
        </div>
        <% unless @articles.blank? %>
          <% @articles.each do |article| %>
            <div class="main-content-news-single">
              <div class="main-content-news-data">
                <%= article.created_at.strftime('%b').upcase %><br>
                <%= article.created_at.strftime('%d') %>
              </div>
              <div class="main-content-news-title">
                <%= article.title %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="main-cooking-book">
        <% unless @what_cooking_block.blank? %>
          <% unless @what_cooking_block.image.blank?%>
            <%= image_tag @what_cooking_block.image.url, alt: "Seafood Guide", class: "main-cooking-book-img"%>
          <% end %>
          <div class="main-cooking-book-content">
            <header class="main-cooking-book-title">
              <% unless @what_cooking_block.title.blank?%><%= @what_cooking_block.title %><% end %>
            </header>
            <p class="main-cooking-book-text">
              <% unless @what_cooking_block.blank? %><%= @what_cooking_block.body.html_safe %><% end %>
            </p>
            <footer class="main-cooking-book-footer">
              <% unless @what_cooking_block.file.blank? %>
                <%= link_to "Click here to download the Guide", "/system/refinery/resources/#{@what_cooking_block.file.file_uid}",  target: '_blank', class: "link_to_pdf" %>
              <% end %>
            </footer>
          </div>
        <% end %>
      </div>
    </section>
    <aside class="main-content-additional">
      <div class="main-content-mailing">
        <div class="title mailing-title">
          <h4 class="title-text">Join our mailing list!</h4>
        </div>
        <div class="main-content-mailing-text">
          <p>
            Submit your email address to receive our monthly e-newseltter with events, recipes, special offers and more!
          </p>

          <%= form_for [refinery, :mails_admin, @mail], class: "main-content-mailing-text" do |f| -%>
              <%= f.text_field :full_name, class: 'default-input mailer-name', placeholder: "Full Name" %>
              <%= f.email_field :email, class: 'default-input mailer-email', placeholder: "Email" %>
              <%= submit_tag "Submit",
                   :name => nil,
                   :class => "default-button main-content-mailing-submit",
                   :tooltip => "Submit" %>
          <% end %>
        </div>
      </div>
      <div class="main-content-additional-banner">
        <header class="title recipe-title">
          <h4 class="title-text">Recipe of the Week</h4>
          <%= link_to "View All", recipes_recipes_path ,class: "title-link" %>
        </header>
          <% @recipe.each do |recipe| %>
            <% unless recipe.image.blank? %>
              <%= link_to image_tag( recipe.image.url ), refinery.recipes_recipe_path(recipe), alt: "Recipe photo"%>
            <% end %>
          <% end %>
     </div>
      <div class="main-content-additional-banner multiple-banners">
        <header class="title explore-title">
          <h4 class="title-text">Explore Regional NC Fishing</h4>
        </header>
        <% unless @explore_regional.blank? %>
          <% @explore_regional.each do |partner| %>
            <% unless partner.image.nil? || partner.link.nil? %>
              <%= link_to image_tag( partner.image.url ), partner.link, alt: 'Recipe photo' %>
              <%= link_to "Visit #{ remove_http(partner.link) }", partner.link, class: "main-banner-link" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </aside>
  </div>

  <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/additional-methods.min.js"></script>
  <script>
    jQuery.validator.setDefaults({
      debug: true,
      success: "valid"
    });

    $( "#new_mail" ).validate({
      rules: {
        field: {
          required: true,
          email: true
        }
      }
    });
  </script>

  <script >
    $('.default-button.main-content-mailing-submit').click(function(e){
      e.preventDefault();
      data = $('#new_mail').serialize();
      if ($('#mail_email').val().match('@') == null){
        console.log('error email with @');
      } else{
        $.ajax({
          type: 'POST',
          url: '/refinery/mails',
          data: data,
          success: function(data){
            $('#flash_error').remove();
            $('#mail_full_name').val('');
            $('#mail_email').val('');
            var flash = '<div id="flash"><b>Email was successfully saved!</b></div>'
            $('.main-content-mailing-text').append(flash);
            $('#flash').fadeOut(2000);
          }
        })
      }
    })
  </script>