<main class="main-content cont" data-style="display: flex;">
  <section class="blog">
    <h3 class="default-title blue">Blog</h3>
    <% if @blogs_masseges.any? %>
      <% @blogs_masseges.each do |msg| %>
        <figure class="blog-figure">
          <% unless msg.image.blank? %>
            <%= image_tag msg.image.url, class: "blog-figure-img", alt: (msg.image.url || "Blog") %>
          <% end %>
          <span class="single-recipe__time"><%= msg.created_at.strftime('%b %d, %Y') %></span>
          <figcaption class="blog-figure-content">
            <h4 class="blog-figure-content-title"><%= link_to msg.title, refinery.blogs_blog_path(msg), class: 'blog-figure-content-title' %></h4>
            <p class="blog-figure-content-text">
              <%= truncator(msg) %>
              <%= link_to "[ READ MORE ]", blogs_blog_path(msg),class: "recipes-figure-link" %>
            </p>
          </figcaption>
        </figure>
      <% end %>
    <% end %>
    <footer class="main-content-footer">
      <%= link_to "[View more posts]", blogs_blogs_path %>
    </footer>
  </section>

  <section class="recipes">
    <h3 class="default-title">Recipes</h3>
    <% if @recipes.any? %>
      <% @recipes.each do |recipe| %>
        <figure class="recipes-figure">
          <% unless recipe.image.blank? %>
            <%= image_tag recipe.image.url, class: "recipes-figure-img",  alt: "recipe" %>
          <% end %>
          <figcaption>
            <h4 class="recipes-figure-title"><%= link_to recipe.title, refinery.recipes_recipe_path(recipe), class: 'recipes-figure-title' %></h4>
            <p class="recipes-figure-text">
              <%#= truncate( recipe.body, length: 150, escape: false, :separator => ' '){ link_to "[ READ MORE ]", recipes_recipe_path(recipe),class: "recipes-figure-link" }%>
              <%= truncator(recipe) %>
              <%= link_to "[ READ MORE ]", recipes_recipe_path(recipe),class: "recipes-figure-link" %>
            </p>
          </figcaption>
        </figure>
      <% end %>
    <% end %>
    <footer class="main-content-footer">
      <%= link_to '[View more recipes]', recipes_recipes_path %>
    </footer>
  </section>

  <%= render :partial => "events" %>

</main>
