<div class="main-sponsors cont">
  <% @footer_sponsors.each do |sponsor|  %>
      <div class="main-sponsors-single">
          <span class="main-sponsors-centrer">
            <%= link_to image_tag(sponsor.image.url, alt: "Sea Grunt" ), sponsor.link %>
              <%#= image_tag "sea.png", alt: "Sea Grunt"%>

          </span>
      </div>
<% end %>
  <!--<div class="main-sponsors-single">-->
          <!--<span class="main-sponsors-centrer">-->
            <!--<a href="#">-->
              <!--<%#= image_tag "sea.png", alt: "Sea Grunt"%>-->
            <!--</a>-->
          <!--</span>-->
  <!--</div>-->
  <div class="main-sponsors-single">
          <span class="main-sponsors-centrer">
            <a href="#">
              <%= image_tag "resource.png", alt: "Resourceful Communities"%>

            </a>
          </span>
  </div>
  <div class="main-sponsors-single">
          <span class="main-sponsors-centrer">
            <a href="#">
              <%= image_tag "country_of_dare.png", alt: "Country of dare"%>
            </a>
          </span>
  </div>
  <div class="main-sponsors-single">
          <span class="main-sponsors-centrer">
            <a href="#">
                <%= image_tag "gtb_seafood.png", alt: "NC seafood"%>
            </a>
          </span>
  </div>
  <div class="main-sponsors-single">
          <span class="main-sponsors-centrer">
            <a href="#">
              <%= image_tag "saltwinter.png", alt: "Saltwinter connections"%>
          </a>
          </span>
  </div>
</div>
<footer class="main-footer cont">
  <div class="main-footer-top-header big-cont">
  </div>
  <div class="main-footer-content">
    <div class="main-footer-content-copyright">
      <a href="#" class="main-footer-content-copyright-place">North Carolina Catch</a>
      <p class="main-footer-content-copyright-text">Copyright © 2016 | Privacy Policy</p>
    </div>
    <div class="main-footer-list">
      <% @footer_links.each do |link| %>
        <a href="#" class="main-footer-list-element">
          <%= link_to link.title, page_path(link), class: "main-footer-list-element" %>
        </a>
      <% end %>
    </div>
    <div class="main-footer-list">
      <a href="#" class="main-footer-list-element">
        Contact Us
      </a>
      <a href="#" class="main-footer-list-element">
        Admin login
      </a>
      <a href="#" class="main-footer-list-element">
        Email login
      </a>
      <a href="#" class="main-footer-list-element">
        Return to Home Page
      </a>
      <a href="#" class="main-footer-list-element">
        Contact Webmaster
      </a>
      <div class="main-footer-menu-socials">
        <a href="#">
          <%= image_tag "facebook.png", alt: "facebook-icon"%>
        </a>
        <a href="#">
          <%= image_tag "youtube.png", alt: "youtube-icon"%>
        </a>
        <a href="#">
          <%= image_tag "twitter.png", alt: "twitter-icon"%>
        </a>
        <a href="#">
          <%= image_tag "google.png", alt: "google-icon"%>
        </a>
      </div>
    </div>
  </div>
</footer>