<nav class="main-menu-nav cont">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
<header class="main-header cont" data-style="display: flex;">
<%= link_to image_tag("nc_catch_logo.png"), '/', class: "main-header-logo", alt: "NC catch logo" %>
<div class="main-header-search" data-style="display: flex;">
  <div class="main-header-search-inputs">
    <div class="main-header-search-input email">
      <%= form_for [refinery, :mails_admin, @mail], class: "main-content-mailing-text" do |f| -%>
        <%= f.email_field :email, class: 'default-input email_input', placeholder: "Receive our eNewsletter!" %>
        <%= submit_tag "sign up",
             :name => nil,
             :class => "default-button main-content-mailing-submit",
             :tooltip => "sign up",
             style: "display: none" %>
      <% end %>
    </div>
    <div class="main-header-search-input search">
      <%= form_tag refinery.search_root_path, class: "main-header-logo-search", method: 'get' do %>
          <%= text_field_tag :query, {}, {type: "search", placeholder: "Search...", class: "default-input", value: (params[:query] if params[:query])} %>
        <%= submit_tag "Go", :name => nil, class: "default-submit search_button", style: "display: none" %>
      <% end %>
      <!-- <input type="text" class="default-input"> -->
    </div>
    <div class="main-header-socials">
      <a href="#"><%= image_tag "facebook-icon.png", class: "main-header-socials-facebook", alt: "Facebook" %></a>
      <a href="#"><%= image_tag "twitter-icon.png", class: "main-header-socials-twitter", alt: "Twitter" %></a>
      <a href="#"><%= image_tag "instagram-icon.png", class: "main-header-socials-instagram", alt: "Instagram" %></a>
    </div>
  </div>
  <div class="main-header-search-buttons">
    <a href="#" class="default-button" id="sign_up">sign up</a>
    <a href="#" class="default-button" id= "search_button" >search</a>
    <a href="#" class="default-button">join</a>
  </div>
</div>
</header>
</nav>
<div id="navbar" class="navbar-collapse collapse">
    <div class="main-menu-list-cont">
      <ul class="main-menu-list cont">
        <% if @menu_items %>
          <% @menu_items.each do |root_item| %>
              <li class="main-menu-list-element">
                <%= link_to root_item.title, refinery.page_path(root_item) %>
                <% child_items = root_item.children.where(show_in_menu: true) %>
                <% if child_items.present? %>
                    <ul class="main-menu-subcategory">
                      <% child_items.each do |child_item| %>
                          <li>
                            <%= link_to child_item.title, refinery.page_path(child_item) %>
                          </li>
                      <% end %>
                    </ul>
                <% end %>
              </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<div class="main-menu">
  <% unless @banner_images.blank? %>
    <div id="banner-carousel" class="carousel slide cont" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <% @banner_images.each_with_index do |banner, i| %>
          <% if  i == 0 %>
            <div class="item active">
          <% else %>
            <div class="item">
          <% end %>
            <% unless banner.image.blank? %>
              <% if banner.link.blank? %>
                  <%= image_tag banner.image.url, alt: "banner_alt(banner)" %>
              <% else %>
                <a href = <%= banner.link %> target = "blank">
                  <%= image_tag banner.image.url, alt: "banner_alt(banner)" %>
                </a>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
      <a class="main-menu-carousel-control left" href="#banner-carousel" role="button" data-slide="prev">
          <%= image_tag "arrow.png", alt: "Prev arrow" %>
      </a>
      <a class="main-menu-carousel-control right" href="#banner-carousel" role="button" data-slide="next">
          <%= image_tag "arrow.png", alt: "Prev arrow" %>
      </a>
    </div>
  <% end  %>
</div>

  <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/additional-methods.min.js"></script>
  <script>
    jQuery.validator.setDefaults({
      debug: true,
      success: "valid"
    });

    $( "#new_mail" ).validate({
      rules: {
        field: {
          required: true,
          email: true
        }
      }
    });
  </script>

  <script >
    $('#sign_up').on('click', function(){
      $('.default-button.main-content-mailing-submit').click();
    })

    $('#search_button').on('click', function(){
      $('.default-submit.search_button').click();
    })

    $('#sign_up').click(function(e){
      e.preventDefault();
      data = $('#new_mail').serialize();
      if (/\S+@\S+/.test($('#mail_email').val()) == false){
        console.log('error email with @');
      } else{
        $.ajax({
          type: 'POST',
          url: '/refinery/mails',
          data: data,
          success: function(data){
            // $('#flash_error').remove();
            $('#mail_email').val('');
            // var flash = '<div id="flash"><b>Email was successfully saved!</b></div>'
            // $('.main-content-mailing-text').append(flash);
            // $('#flash').fadeOut(2000);
          }
        })
      }
    })
  </script>
