<nav class="main-menu-nav cont">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
<header class="main-header cont" data-style="display: flex;">
<%= image_tag "nc_catch_logo.png", class: "main-header-logo", alt: "NC catch logo" %>
<div class="main-header-search" data-style="display: flex;">
  <div class="main-header-search-inputs">
    <div class="main-header-search-input email">
      <input type="text" class="default-input" placeholder="Reveive out eNewsletter!">
    </div>
    <div class="main-header-search-input search">
      <input type="text" class="default-input">
    </div>
    <div class="main-header-socials">
      <a href="#"><%= image_tag "facebook-icon.png", class: "main-header-socials-facebook", alt: "Facebook" %></a>
      <a href="#"><%= image_tag "twitter-icon.png", class: "main-header-socials-twitter", alt: "Twitter" %></a>
      <a href="#"><%= image_tag "instagram-icon.png", class: "main-header-socials-instagram", alt: "Instagram" %></a>
    </div>
  </div>
  <div class="main-header-search-buttons">
    <a href="#" class="default-button">sign up</a>
    <a href="#" class="default-button">search</a>
    <a href="#" class="default-button">join</a>
  </div>
</div>
</header>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="main-menu-list">
      <% if @menu_items %>
        <% @menu_items.each do |root_item| %>
            <li class="main-menu-list-element">
              <%= link_to root_item.title, refinery.page_path(root_item) %>
              <% child_items = root_item.children.where(show_in_menu: true) %>
              <% if child_items.present? %>
                  <ul class="main-menu-subcategory">
                    <% child_items.each do |child_item| %>
                        <li>
                          <%= link_to child_item.title, refinery.page_path(child_item) %>
                        </li>
                    <% end %>
                  </ul>
              <% end %>
            </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</nav>
<div class="main-menu">
  <div id="banner-carousel" class="carousel slide cont" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag "banner.png", alt: "Banner" %>
        </div>
        <div class="item">
          <%= image_tag "banner.png", alt: "Banner" %>
        </div>
        <div class="item">
          <%= image_tag "banner.png", alt: "Banner" %>
        </div>
        <div class="item">
          <%= image_tag "banner.png", alt: "Banner" %>
        </div>
    </div>
    <a class="main-menu-carousel-control left" href="#banner-carousel" role="button" data-slide="prev">
        <%= image_tag "arrow.png", alt: "Prev arrow" %>
    </a>
    <a class="main-menu-carousel-control right" href="#banner-carousel" role="button" data-slide="next">
        <%= image_tag "arrow.png", alt: "Prev arrow" %>
    </a>
  </div>
</div>