<a href= <%= fb_link %> target="_blank" >
  <%= image_tag "facebook.png", alt: "facebook-icon" %>
</a>
<a href= <%= youtube_link %> target="_blank">
  <%= image_tag "youtube.png", alt: "youtube-icon" %>
</a>
<a href= <%= twitter_link %> target="_blank">
  <%= image_tag "twitter.png", alt: "twitter-icon" %>
</a>
<a href= <%= google_link %> target="_blank">
  <%= image_tag "google.png", alt: "google-icon" %>
</a>