<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
    <%= render "/refinery/javascripts" %>
  </head>
  <body id="<%= canonical_id @page %>">
    <%= site_bar -%>
      <main class="nc-catch-main">
        <%= render "/refinery/header" -%>
        <section id="page">
          <section class="main-banner cont">
          </section>
          <%= yield %>
        </section>
        <%= render "/refinery/footer" -%>
      </main>
  </body>
</html>
<script>
  <% unless @page.background_image.nil? || @page.background_image.blank? %>
    $('.main-banner').parallax({imageSrc: "<%= @page.background_image.url %>", zIndex:1, bleed:30, naturalWidth:1400, naruralHeight:900});
  <% end %>
</script>