<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
    <%= render "/refinery/javascripts" %>
  </head>
  <body id="<%= canonical_id @page %>">
    <%= site_bar -%>
      <main class="nc-catch-main">
        <%= render "/refinery/header" -%>
        <section id="page">
          <%= yield %>
        </section>
        <%= render "/refinery/footer" -%>
      </main>
  </body>
</html>
